body {
    background: lightgrey;
    padding: 0;
    margin: 0;

}
header {
    position: relative;
}

h2 {
    font-size: 50px;
    padding: 20px 50px 0 50px;
    color: white;
    margin-bottom: 0;
}

.text {
    font-size: 24px;
    color: white;
    padding: 50px;
    margin-bottom: 30px;
}


.nazev{
    position: absolute;
    text-align: center;
    left: 50%;
    top: -30%;
    transform: translate(-50%, -50%);

}



h1 {
    font-size: 100px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.O-nas{
    position: absolute;
    height: 800px;
    width: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(31, 164, 186);
    border-radius: 32px;
}

.historie {
    position: absolute;
    width: 75%;
    height: 500px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(31, 164, 186);
    border-radius: 32px;
    top: 1700px;

}



